/*
  *{
    border: 1px solid blue;
  }
*/
  body{
    font-family: 'Trebuchet MS';
  }

  li{
    /*width: 300px;*/
    list-style: none;
    text-align: left;
    /*margin: auto;*/
  }
  h1{
    /*border-bottom: 1px solid #aaa;*/
        text-align: center;
  }
    h2{
    border-bottom: 1px solid #ccc;
  }
  p.center{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: blue;
    padding: 5px;
    font-size: 1.2em;
  }
  a:hover{
    font-weight: bold;
  }
  img.logo, ul{
    /*float: right;*/
    display: inline-block;
    vertical-align: top;
  }
  img.logo{
    width: 128px;
    height: 128px;
  }
