
/**{
  border: 1px solid blue;
}*/


header{
  background-color:#eee;
  padding: 10px;
}
body{
  font-family: 'Trebuchet MS';
  margin:0px;
}

ul{
  padding-left: 10px;
}
li{
  width: 300px;
  list-style: none;
  text-align: left;
  margin-bottom:5px;
}
h1{
      text-align: center;
}
h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
h3, h2, h1, a{
  text-shadow: 2px 2px 2px #ccc;
}

p.center{
  text-align: center;
}
a{
  text-decoration: none;
  color: blue;
  padding: 5px;
  font-size: 1.2em;
}
a:hover{
  font-weight: bold;
}
img.logo, ul{
  display: inline-block;
  vertical-align: top;
}
img.logo{
  width: 128px;
  height: 128px;
  border: none;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
   -webkit-transition: 0.25s ease-in-out; /* Safari */
}

section:hover img.logo{
  transition: 0.25s ease-in-out;  
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari and Chrome */  
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out; /* Safari */
}


section{
  display: inline-block;
  vertical-align: top;
  min-width: 500px;
}

div#main{
  margin: auto;
  width: 90%;
  text-align: center;
}

#copyright{
  position: fixed;
  bottom: 0px;
  text-align: center;
  margin:auto;
  width: 100%;  
  font-size: 0.6em;
  padding: 10px;  
}